/* 
body {
  
  background: url(https://w0.peakpx.com/wallpaper/801/891/HD-wallpaper-food-pizza.jpg) no-repeat center center fixed; 
 
  background-size: cover;
} */

.imgnormalizada img {
    width: 100%;
    height: 80vh;
    object-fit: contain;
    overflow: hidden;
}
  .imgnormalizada {
    background-color: white;
  }
