.rating .icon {
    color: #ffb526;
}

.heading {
    margin-bottom: 5px;
}

.info {
    margin: 5px 0px;
    padding-bottom: 5px;
    color: #636363;
}

.image {
    margin-bottom: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.776);
    width: 170px;
    margin: 0px;
}

.map {
    margin-bottom: 10px;
}

.gallery .row .col{
    padding: 0px;
    margin: 0px;
}

.gallery .btn{
    padding: 1px;
}

/* .map iframe {
    width: 50px;
} */


@media(max-width: 576px) {
    iframe {
        min-width: 415px;
    }
}

@media(min-width: 576px) {
    iframe {
        min-width: 467px;
    }
}

@media(min-width: 768px) {
    iframe {
        min-width: 384px;
    }
}

@media(min-width: 992px) {
    iframe {
        min-width: 606px;
    }
}

@media(min-width: 1200px) {
    iframe {
        width: 726px;
    }
}