.navbar{
    background: linear-gradient(90.21deg, rgba(196,156,156,0.35) 1.11%, #FBCECE 47.44%, rgba(254,221,221,0)99.96%);
    
}

.badge{
    color: black;
    /* border-radius: 50%; */
}

footer{
    margin-top: 110px;
}