/* 
body {
  
  background: url(https://w0.peakpx.com/wallpaper/801/891/HD-wallpaper-food-pizza.jpg) no-repeat center center fixed; 
 
  background-size: cover;
} */

.imgnormalizada img {
    width: 100%;
    height: 50em;
    object-fit: contain;
    overflow: hidden;
}

  .carousel-control-prev {
    background-color: white;
  }

  .carousel-control-next {
    background-color: white;
  }

  .imgnormalizada {
    background-color: white;
  }
.carousel-control-prev-icon {
    
    background-color: red;
    border-radius: 40%;
}

.carousel-control-next-icon {
    
    background-color: red;
    border-radius: 40%;
    
}